<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sid.marwadishaadi">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".MSFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Forgot_Password.ForgotPasswordActivity"
            android:label="Forgot Password ? " />
        <activity
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:name=".MainActivity" />
        <activity
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:name=".Signup.SignupActivity"
            android:label="Signup" />

        <activity
            android:hardwareAccelerated="false"
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"
            android:label="Login" />

        <activity
            android:screenOrientation="portrait"
            android:name=".Otp_Verification.Otp_VerificationActivity" />

        <activity
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:name=".Signup.SignupDetailsActivity" />

        <activity
            android:name=".Signup.AdvancedSignupDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Membership.MembershipActivity"
            android:screenOrientation="portrait"
            android:label="Membership" />
        <activity
            android:name=".Dashboard.DashboardActivity"
            android:label="Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Feedback.FeedbackActivity"
            android:screenOrientation="portrait"
            android:label="Feedback" />
        <activity
            android:name=".Settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="Settings" />
        <activity
            android:name=".Blocked_Members.BlockedActivity"
            android:screenOrientation="portrait"
            android:label="Blocked" />
        <activity
            android:name=".Privacy_Policy.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:label="Privacy Policy" />
        <activity
            android:name=".User_Profile.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Payment_Policy.PaymentPolicyActivity"
            android:screenOrientation="portrait"
            android:label="Payment Policy" />
        <activity
            android:name=".Notifications.NotificationsActivity"
            android:screenOrientation="portrait"
            android:label="Notifications" />
        <activity
            android:name=".Search.Search"
            android:screenOrientation="portrait"
            android:label="Search" />
        <activity
            android:name=".Dashboard_Interest.InterestActivity"
            android:screenOrientation="portrait"
            android:label="Interest" />
        <activity
            android:name=".About_Us.AboutUsActivity"
            android:screenOrientation="portrait"
            android:label="About Us" />
        <activity
            android:name=".Contact_Us.ContactUsActivity"
            android:screenOrientation="portrait"
            android:label="Contact Us" />
        <activity
            android:name=".Faq.FaqActivity"
            android:screenOrientation="portrait"
            android:label="Faq" />
        <activity
            android:name=".Membership.UpgradeMembershipActivity"
            android:screenOrientation="portrait"
            android:label="Membership" />
        <activity
            android:name=".User_Profile.Edit_User_Profile.EditPreferencesActivity"
            android:screenOrientation="portrait"
            android:label="Edit Partner Preferences" />

        <!-- Chat Activities -->
        <activity
            android:name=".Chat.DefaultDialogsActivity"
            android:screenOrientation="portrait"
            android:label="Inbox" />
        <activity android:name=".Chat.DefaultMessagesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Search.SearchResultsActivity"
            android:screenOrientation="portrait"
            android:label="Search Results" />
        <activity android:name=".User_Profile.Edit_User_Profile.EditPersonalDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".User_Profile.Edit_User_Profile.EditFamilyDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Similar_Profiles.SimilarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Filter" android:screenOrientation="portrait" />
        <activity android:name=".Upload_User_Photos.UploadPhotoActivity" android:screenOrientation="portrait"
            android:hardwareAccelerated="false"></activity>

    </application>

</manifest>