<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sid.marwadishaadi">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".forgot_password"
            android:label="Forgot Password ? " />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Signup"
            android:label="Signup" />
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity android:name=".Otp_Verification" />
        <activity android:name=".signup_details" />
        <activity
            android:name=".Advanced_Signup_Details"
            android:label="Basic Details"
            android:theme="@style/AppTheme" />
        <activity android:name=".Membership" />
        <activity android:name=".MyAccount" />
        <activity
            android:name=".Dashboard"
            android:label="Dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Feedback"
            android:label="Feedback" />
        <activity
            android:name=".Settings"
            android:label="Settings" />
        <activity
            android:name=".Blocked"
            android:label="Blocked" />
        <activity android:name=".Privacy_policy" />
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".Payment_Policy" />
        <activity android:name=".Notifications"></activity>
    </application>

</manifest>