<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sid.marwadishaadi">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".MSFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Forgot_Password.ForgotPasswordActivity"
            android:label="Forgot Password ? "
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup.SignupActivity"
            android:hardwareAccelerated="false"
            android:label="Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:hardwareAccelerated="false"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Otp_Verification.Otp_VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup.SignupDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup.AdvancedSignupDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Membership.MembershipActivity"
            android:label="Membership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard.DashboardActivity"
            android:label="Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Feedback.FeedbackActivity"
            android:label="Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Blocked_Members.BlockedActivity"
            android:label="Blocked"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Privacy_Policy.PrivacyPolicyActivity"
            android:label="Privacy Policy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User_Profile.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="marwadishaadi.com"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Payment_Policy.PaymentPolicyActivity"
            android:label="Payment Policy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notifications.NotificationsActivity"
            android:label="Notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search.Search"
            android:label="Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard_Interest.InterestActivity"
            android:label="Interest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About_Us.AboutUsActivity"
            android:label="About Us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contact_Us.ContactUsActivity"
            android:label="Contact Us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Faq.FaqActivity"
            android:label="Faq"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Membership.UpgradeMembershipActivity"
            android:label="Membership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User_Profile.Edit_User_Profile.EditPreferencesActivity"
            android:label="Edit Partner Preferences"
            android:screenOrientation="portrait" />

        <!-- Chat Activities -->
        <activity
            android:name=".Chat.DefaultDialogsActivity"
            android:label="Inbox"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.DefaultMessagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search.SearchResultsActivity"
            android:label="Search Results"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User_Profile.Edit_User_Profile.EditPersonalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User_Profile.Edit_User_Profile.EditFamilyDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Similar_Profiles.SimilarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Filter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Upload_User_Photos.UploadPhotoActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity android:name=".Payment.activity.WebViewActivity" />
        <activity android:name=".Payment.activity.StatusActivity" />
        <activity android:name=".PdfViewActivity" />
        <activity android:name=".UserProfilePdfActivity" />
    </application>

</manifest>